.p-top{
    &News{
        margin-top: 100px;
        .l-inner{
            max-width: 837px;
            width: 100%;
        }
        &__title{
            margin-bottom: 56px;
            .c-heading1{
                line-height: 1.2;
                letter-spacing: 0.4px;
            }
        }
        &__list{
            margin-bottom: 48px;
        }
    }
    &About{
        background-image: url('../../image/background.png');
        margin-top: 162px;
        background-repeat: repeat;
        background-size: cover;
        position: relative;
        .l-inner{
            padding-top: 135px;
        }
        &::before{
            content: "";
            position: absolute;
            background-image: url('../../image/background_top.png');
            left: 0;
            right: 0;
            padding-top: 120px;
            top: -120px;
        }
        h2.c-heading1{
            letter-spacing: 2px;
            margin-bottom: 40px;
        }
        h3.c-heading1{
            letter-spacing: 6px;
            margin-bottom: 20px;
        }
        &__flex{
            width: 100%;
            display: flex;
        }
        &__point{
            width: calc((100% / 3) - 86px);
            img{
                width: 100%;
                object-fit: cover;
                margin-top: 7px;
                margin-bottom: 15px;
            }
            &:not(:last-child){
                margin-right: 130px;
            }
        }
        &__btn{
            margin-top: 42px;
            display: flex;
            .c-btn{
                &:first-child{
                    margin-right: 36px;
                }
            }
        }
    }
    &Slider{
        margin-top: 96px;
    }
    &Info{
        padding-top: 248px;
        padding-bottom: 76px;
        background-image: url('../../image/background.png');
        background-repeat: repeat;
        background-size: cover;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-image: url('../../image/background_top.png');
            left: 0;
            right: 0;
            padding-top: 120px;
            bottom: -120px;
            transform: rotate(180deg);
        }
        &__about{
            &:first-child{
                margin-bottom: 81px;
            }
            &Flex{
                display: flex;
                &.--reverse{
                    flex-direction: row-reverse;
                }
            }
            &Item1{
                width: 68.8%;
                background-size: cover;
                background-position: center center;
            }
            &Item2{
                width: 40%;
                margin: 100px 0 100px -157px;
                padding: 52px 80px 65px 122px;
                z-index: 1511200;
                background: #fff;
                &.--margin{
                    margin: 100px -157px 100px 0;
                    padding: 83px 80px 92px 122px;
                }
                .c-heading1{
                    margin-bottom: 20px;
                    letter-spacing: 2.2px;
                }
                .c-text1{
                    letter-spacing: 1px;
                    margin-bottom: 41px;
                }
            }
        }
        &__block{
            margin-top: 84px;
            margin-bottom: 100px;
            width: 100%;
            &Inline{
                width: calc((100% / 2) - 38px);
                display: inline-block;
                min-height: 500px;
                position: relative;
                img.--img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    inset: 0;
                }
                &:first-child{
                    margin-right: 70px;
                }
            }
            &Contain{
                background: #FFFFFF;
                opacity: 0.9;
                display: inline-block;
                max-width: 500px;
                padding: 39px 70px;
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &.--padding{
                    padding: 67px 70px;
                }
                .c-text1{
                    margin-bottom: 20px;
                }
            }
        }
    }
    &Table{
        margin-top: 160px;
      
        .l-inner{
            width: 90%;
            max-width: 840px;
        }
        .l-table{
            &__th{
                font-size: ( 16px / $font-size) * 1rem;
                font-weight: bold;
            }
            &__td{
                font-size: ( 16px / $font-size) * 1rem;
            }
        }
        // table1
        &__price{
            h2.c-heading1{
                line-height: 1.2;
                margin-bottom: 45px;
            }
            h3.c-heading1{
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
            .u-center{
                margin-top: 48px;
            }
            margin-bottom: 90px;
        }
        // table2
        &__spring{
            h3.c-heading1{
                letter-spacing: 2px;
                margin-bottom: 9px;
            }
            h4.c-heading1{
                line-height: 1.2;
                letter-spacing: 2px;
                margin-bottom: 20px;
                margin-top: 49px;
            }
        }
        &__please{
            margin-top: 28px;
            margin-bottom: 45px;
            letter-spacing: 1px;
        }
        // table3
        &__fee{
            margin-top: 95px;
            > .u-center{
                letter-spacing: 4px;
                h4{
                    margin-top: 21px;
                }
            }
            &Text{
                margin-top: 8px;
                padding-left: 84px;
                p{
                    display: inline-block;
                    &:last-child{
                        margin-left: 20px;
                    }
                }
                .--magrin{
                    margin-top: 25px;
                }
            }
            .l-table__content{
                margin-top: 28px;
                margin-bottom: 47px;
            }
        }
    }
    &Sight{
        margin-top: 287px;
        h2.c-heading1{
            line-height: 1.2;
            margin-bottom: 28px;
            + p{
                letter-spacing: 1.2px;
            }
        }
        .c-slider{
            margin-top: 25px;
            margin-bottom: 48px;
        }
    }
    &Map{
        margin-top: 298px;
        margin-bottom: 81px;

       &__location{
        margin-top: 174px;
        margin-bottom: 44px;
        iframe{
            width: 100%;
            max-height: 400px;
        }
       } 
    }
}


// sp
@include media-breakpoint-sp{
    .p-top{
        &About{
            margin-top: 138px;
            .l-inner{
                padding-top: 54px;
            }
            h2.c-heading1 {
                line-height: 1;
                margin-bottom: 54px;
            }
            h3.c-heading1 {
                margin-bottom: 30px;
            }
            &__flex{
                flex-direction: column;
            }
            &__point{
                width: 100%;
                img{
                    max-width: 280px;
                    width: 90%;
                    margin-top: 18px;
                }
                &:not(:last-child){
                    margin-right: unset;
                    margin-bottom: 31px;
                }
            }
            &__btn{
                flex-direction: column;  
                align-items: center;
                margin-top: 45px;
                .c-btn{
                    &:first-child{
                        margin-right: unset;
                        margin-bottom: 27px;
                    }
                }
            }
        }
        &Slider{
            margin-top: 48px;
        }
        &Info{
            padding-top: 146px;
            padding-bottom: 0;
            &::after{
                padding-top: 60px;
                bottom: -60px;
                background-size: cover;
            }
            .l-inner.--wide {
                width: 100%;
                padding: 0;
            }
            &__about{
                &Flex{
                    flex-direction: column;
                    &.--reverse{
                        flex-direction: column;
                    }
                }
                &Item1{
                    width: 100%;
                    height: 300px;
                }
                &Item2{
                    width: 100%;
                    margin: 0;
                    padding: 0 20px;
                    .c-heading1{
                        margin-top: 19px;
                        line-height: 1.5;
                        margin-bottom: 16px;
                    }
                    .c-text1{
                        margin-bottom: 37px;
                    }
                    &.--margin{
                        margin: 0;
                        padding: 0 20px;
                    }
                }
                &:first-child{
                    margin-bottom: 80px;
                }
            }
            &__block{
                margin-top: 80px;
                margin-bottom: 0;
                &Inline{
                    width: 100%;
                    display: block;
                    min-height: 500px;
                    position: unset;
                    img.--img{
                        position: unset;
                        height: 200px;
                    }
                    &:first-child{
                        margin-right: 0;
                        margin-bottom: 62px;
                    }
                }
                &Contain{
                    max-width: unset;
                    width: 100%;
                    position: unset;
                    transform: unset;
                    padding: 14px 20px;
                    .c-heading1{
                        margin-bottom: 14px;
                    }
                    .c-text1{
                        margin-bottom: 42px;
                    }
                    &.--padding{
                        padding: 14px 20px;
                    }
                }
            }
        }
        &Table{
            margin-top: 125px;
            .l-inner{
                width: 100%;
            }
            &__price{
                margin-bottom: 68px;
                .u-center {
                    margin-top: 75px;
                }
            }
            &__spring{
                h4.c-heading1{
                    margin-top: 39px;
                }
            }
            &__fee{
                &Text{
                    padding-left: 0;
                    p{
                        display: block;
                        text-align: center;
                        &:last-child{
                            margin-left: 0;
                            text-align: unset;
                        }
                    }
                    .--magrin{
                        margin-top: 25px;
                    }
                }
            }
            .l-table{
                &__th{
                    font-size: ( 14px / $font-size) * 1rem;
                }
                // font size tr first 
                &__content{
                    tr.u-bbottom{
                        .l-table__td{
                            font-size: ( 14px / $font-size) * 1rem;
                        }
                    }
                }
            }
        }
        &Sight{
            margin-top: 191px;
            h2.c-heading1{
                margin-bottom: 53px;
            }
            h2.c-heading1 + p{
                text-align: left;
                padding: 0 20px;
            }
            .c-slider{
                margin-top: 41px;
                margin-bottom: 30px;
            }
        }
        &Map{
            margin-top: 190px;
            margin-bottom: 98px;
            &__location{
                margin-top: 123px;
                margin-bottom: 41px;
                iframe {
                    max-height: 300px;
                }
            }
        }
    }
}

@include media-breakpoint-pc-tab{
    .p-top{
        &News{
            .c-news__link{
                transition: all 0.2s linear;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}